/* ------ TODO O SITE ------ */
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(34, 34, 34);
    color: white;
}


/* ------ BARRA DO MENU ------ */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    flex-direction: column;
    line-height: 10px;
}
    /*----- menu -----*/
h1{
    font-weight: 180;
}
li{
    display: inline-block;
    margin: 15px;
}
header a{
    text-decoration: none;
    color: white;
    font: bolder;
    padding: 0px 10px 10px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
header .botoes::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(29, 25, 223);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
header .botoes:hover::after{
    width: 100%;
}
    /*---- botão entrar ----*/
header #Entrar{
    border: 3px solid rgb(29, 25, 223);
    padding: 06px;
    border-radius: 10px;
}
header #Entrar:hover{
    background-color: rgb(29, 25, 223);
    color: white;
    transition: 0.5s;
    font-weight: bold;
}

/* ------ CONTEUDO DO SITE ------ */
main{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
    /*---- titulo ----*/
h2{
    font-size: 36px;
    line-height: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#in_text{
    font-size: 45px;
    color: rgb(29, 25, 223);
}
    /*---- texto ----*/
p{
    line-height: 20px;
    max-width: 575px;
    width: 90%;
    font-family: cursive;
    text-align: justify;
}
    /*---- formulario ----*/
form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
input{
    margin-top: 10px;
    height: 15px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(29, 25, 223);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}
    /*---- imagem ----*/
    article{
    background-color: rgb(29, 25, 223);
    border-radius: 10px;
}
img{
    margin: 5px;
    width: 600px;
    border-radius: 10px;
}